.subtitle {
  background-color: rgb(71, 5, 72);
  color: whitesmoke;
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
body {
  background-color: rgba(196, 71, 196, 0.818);
}

#main_presentacion {
  width: 100%;
  margin: 10px;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.presentacion {
  background-color: aliceblue;
  height: 500px;
  width: 70%;
  display: grid;
  grid-column: 1;
  grid-row: 2 / 2;
}

.presentacion1 {
  background-color: aliceblue;
  height: 500px;
  width: 95%;
  display: grid;
  gap: 1em;
  grid-column: 2 /4;
  grid-row: 2;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}

.cards {
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 1rem;
  width: 14rem;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
