* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100vw;
  height: 60px;
  background-color: rgb(71, 5, 72);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav > div > a > button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

nav > div > button {
  background-color: yellow;
  color: black;
  font-size: 20px;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

nav > div > a > button:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
  box-shadow: 13px 10px 29px -7px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 13px 10px 29px -7px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 13px 10px 29px -7px rgba(0, 0, 0, 0.71);
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px auto;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #bd04ba;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d128f6;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #9a7f9b;
  width: 120px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #840cd4;
}

@media screen and (max-width: 500px) {
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #9b14fb;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }
  nav {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 501px) {
  .navbar {
    display: none;
  }
  /* CSS rules to apply for screens with a width between 768px and 1024px */
}
